body {
  background-color: #ffdfff;
  margin: 0;
  color: #d8bfd8;
}
a {
}
.header {
  display: flex;
  align-items: center;

  padding: 0 80px;
  width: calc(100% - 160px);
  height: 40px;
  background-color: #4b0082;
}
.header > a {
  color: #fff;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #4b0082;
}

.wrapper {
  margin: 10px 80px;
  padding: 10px;
  min-height: 100vh;

  background-color: #ba55d3;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  background-color: #9932cc;

  padding: 15px;
}

.card:hover {
  box-shadow: 0px 0px 10px 5px #e6e6fa;
}

.card__name {
  text-align: center;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #e6e6fa;
}
.card__description {
}
.card__link {
  width: 100%;
  text-align: right;
  height: auto;
}
.card__link > a {
  color: #e6e6fa;
  font-size: 22px;
}
.card__link > a:hover {
  color: #483d8b;
}

.content__image {
  margin: 10px 0;
}
